<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [226]:
import pandas as pd
import psycopg2

In [227]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python 
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [228]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [229]:
# текст запроса
# используем команду count
query_3_1 = f'''
            select 
                count(*)
            from public.vacancies
            '''

In [230]:
# результат запроса
df1 = pd.read_sql_query(query_3_1, connection)
display(df1['count'][0]) #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\2652403901.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query(query_3_1, connection)

49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [231]:
# текст запроса
# используем команду count
query_3_2 = f'''
            select 
                count(*)
            from public.employers
            '''

In [232]:
# результат запроса
df2 = pd.read_sql_query(query_3_2, connection)
display(df2['count'][0]) #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\1855747194.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql_query(query_3_2, connection)

23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [233]:
# текст запроса
# используем команду count
query_3_3 = f'''
            select 
                count(*)
            from public.areas
            '''

In [234]:
df3 = pd.read_sql_query(query_3_3, connection)
display(df3['count'][0]) #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\2347993735.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql_query(query_3_3, connection)

1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [235]:
# текст запроса
# используем команду count
query_3_4 = f'''
            select 
                count(*)
            from public.industries
            '''

In [236]:
# результат запроса
df4 = pd.read_sql_query(query_3_4, connection)
display(df4['count'][0]) #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\2074345586.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4 = pd.read_sql_query(query_3_4, connection)

294

***

In [237]:
# выводы по предварительному анализу данных
#В базе исходных данных находятся 49197 вакансий от 23501 работодателя из 1362 регионов по 294 сферам деятельности

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [238]:
# текст запроса
#используем команду join для таблиц vacancies, areas. далее используем команду count. поставил вывод топ-5 через limit для ответа на вопрос
query_4_1 = f'''
            select 
                a.name area,
                count(v.id) cnt
            from public.vacancies v
            left join public.areas a on v.area_id=a.id
            group by 1
            order by 2 desc
            limit 5
            '''

In [239]:
# результат запроса
df5 = pd.read_sql_query(query_4_1, connection)
display(df5)

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\2991842230.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df5 = pd.read_sql_query(query_4_1, connection)

              area   cnt
0           Москва  5333
1  Санкт-Петербург  2851
2            Минск  2112
3      Новосибирск  2006
4           Алматы  1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [240]:
# текст запроса
# используем команду count и фильтр-команду - where
query_4_2 = f'''
            select
                count(v.id) count
            from public.vacancies v
            where (v.salary_from is not null) or (v.salary_to is not null)
            '''

In [241]:
# результат запроса
df6 = pd.read_sql_query(query_4_2, connection)
display(df6['count'][0]) #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\1013758672.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df6 = pd.read_sql_query(query_4_2, connection)

24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [242]:
# текст запроса
# используему команды avg (среднее) и round (округление). выводим два столбца
query_4_3 = f'''
            select
                round(avg(v.salary_from)) low_border,
                round(avg(v.salary_to)) high_border
            from public.vacancies v
            '''

In [243]:
# результат запроса
df7 = pd.read_sql_query(query_4_3, connection)
display(df7)

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\927622937.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df7 = pd.read_sql_query(query_4_3, connection)

   low_border  high_border
0     71065.0     110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [244]:
# текст запроса
# используем группировку по столбцам (group by) и сортировку (order by)
query_4_4 = f'''
            select
                v.schedule,
                v.employment,
                count(*) cnt
            from public.vacancies v
            group by 1, 2
            order by 3 desc
            '''

In [245]:
# результат запроса
df8 = pd.read_sql_query(query_4_4, connection)
display(df8)

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\129939945.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df8 = pd.read_sql_query(query_4_4, connection)

            schedule           employment    cnt
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [246]:
# текст запроса
# используем count для подсчётаб группировку по столбцам (group by) и сортировку (order by)
query_4_5 = f'''
            select
                v.experience,
                count(*) cnt
            from public.vacancies v
            group by 1
            order by 2 asc
            '''

In [247]:
# результат запроса
df9 = pd.read_sql_query(query_4_5, connection)
display(df9)

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\2110935429.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df9 = pd.read_sql_query(query_4_5, connection)

           experience    cnt
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

***

In [248]:
# выводы по детальному анализу вакансий

# Топ-5 регионов с наибольшим количествм вакансии (в порядке убывания количества вакансии): Москва, СПб, Минск, Новосибирск, Алматы. 
# Все они являются городами-миллиониками, а некоторые - столицами государства. Соответственно прослеживается прямая зависимость: чем больше численность в городе, тем больше вакансий.

# У 24073 (т.е. около 48% от общего количества в 49197) заполнено как минимимум одно поле с заработной платой. 
# Причины этого могут быть различны. Например, они могут быть: 
# 1) нет представления о рыночной цене на услуги сотрудника по указанной вакансии/желание получить предложение о заработной плате от самого кандидата; 
# 2) нежелание отпугивать потенциальных кандидатов заниженными цифрами/желание привлечь побольше кандидатов; 
# 3) отработка стратегии поиска кандидатов по указанной вакансии (например, для того, чтобы оценить сколько откликнулось на вакансии с открытыми цифрами,а сколько - с закрытыми)

# Среднее значение: нижней границы зарплатной вилки - 71065 руб., верхней границы заплатной вилки - 110537 руб.

# При анализе вакансий по типам рабочего графика и типа трудоустройства выявлено, что наибольшую долю занимают:
# 1) "полный день/полная занятость" (35367 вакансий, т.е. около 72%)
# 2) "удалённая работа/полная занятость" (7802 вакансий, т.е. около 16%)
# 3) "гибкий график/полная занятость" (1593 вакансий, т.е. около 3%)
#В данном случае является нормальной ситуацией, что большинство работодателей ищет сотрудников на полную занятость и полный день, а меньшее количество работодателей готовы предложить удалённую работу и гибкий график.
# Тут могут быть ограничения с самой вакансией и выполнением обязанностей по ней, когда сотрудник обязан быть рабочем месте.

# Большинство работодателей ищет сотрудников с опытом от 1 до 3 лет (26152 вакансий или около 53%).
# Это связано с тем, что указанного срока работы достаточно  для получения необходимого опыта для удовлетворения требований вакансий большинства работодателей.
# Чуть меньше работодателей ищут сотрудников с опытом от 3 до 6 лет (14511 вакансий или около 30%)
# Вероятно это либо вакансии, требущие высокого профессионализма, либо вакансии близкие к руководящим должностям.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [249]:
# текст запроса
#используем объединение join c таблицами vacancies и employers. используем count для подсчёта вакансий, group by и order by - для группировки и сортировки
# поставил топ-5 через limit для ответа на вопрос
query_5_1 = f'''
            select
                e.name employer,
                count(v.id) count_vacancies
            from public.vacancies v
            left join public.employers e on v.employer_id=e.id
            group by 1
            order by 2 desc
            limit 5
            '''

In [250]:
# результат запроса
df10 = pd.read_sql_query(query_5_1, connection)
display(df10)

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\3161164450.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df10 = pd.read_sql_query(query_5_1, connection)

        employer  count_vacancies
0         Яндекс             1933
1     Ростелеком              491
2       Тинькофф              444
3           СБЕР              428
4  Газпром нефть              331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [251]:
# текст запроса
#сначала делаем запрос о выводе для каждого региона количества работодателей и вакансий в нем
#используем left join c таблицами vacancies, employers. используем count для подсчёта. группируем через group by 
# ставим вывод по убыванию количества работодателей и вакансий


query_5_2a = f'''
            select
                a.name area,
                count(e.id) count_employers,
                count(v.id) count_vacancies
            from public.areas a
            left join public.vacancies v on v.area_id=a.id
            left join public.employers e on a.id=e.area
            group by 1
            order by 2 desc, 3 desc
            '''
#делаем запрос по выбору регионов, у которых нет вакансий (используя having)           
query_5_2b = f'''
            select
                a.name area,
                count(e.id) count_employers,
                count(v.id) count_vacancies
            from public.areas a
            left join public.vacancies v on v.area_id=a.id
            left join public.employers e on a.id=e.area
            group by 1
            having count(v.id)=0
            order by 2 desc, 3 desc
            '''

In [252]:
# результат запроса
#df11 = pd.read_sql_query(query_5_2a, connection) #по запросу query_5_2a
df11 = pd.read_sql_query(query_5_2b, connection)
#df11 #вывод всей таблицы
df11['area'][0] #вывод только первого значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\3829612134.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df11 = pd.read_sql_query(query_5_2b, connection)

'Россия'

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [253]:
# текст запроса
# используем left join на таблицу vacancies, используем count(distinct ...) для подсчёта уникальных значений. группируем, сортируем
query_5_3 = f'''
            select
                e.name employer,
                count(distinct v.area_id) count_areas
            from public.employers e
            left join public.vacancies v on v.employer_id=e.id
            group by 1
            order by 2 desc
            '''

In [254]:
# результат запроса
df12 = pd.read_sql_query(query_5_3, connection)
#df12 #вывод всей таблицы
df12['count_areas'][0] #вывод только первого значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\683977987.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df12 = pd.read_sql_query(query_5_3, connection)

181

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [255]:
# текст запроса

#можно сделать через except, если нам в дальнейшем потребуются id этих компаний, а потом посчитать их количество
#делаем подтаблицу с конструкцией "with ... "". В ней используем except для того, чтобы оставить работодателей, у которых не указана сфера деятельности.
#делаем запрос в подтаблицу t и считаем в ней количество строк. 
query_5_4 = f'''
            with t as
            (select
                e.id
            from public.employers e
            
            except
            
            select
                ei.employer_id
            from public.employers_industries ei
            )
            
            select
                count(t.id)
            from t
            '''

In [256]:
# результат запроса
df13 = pd.read_sql_query(query_5_4, connection)
df13['count'][0] #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\2238216794.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df13 = pd.read_sql_query(query_5_4, connection)

8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [257]:
# текст запроса
#делаем объединенние left join c таблицей employers_industries
#используем count(distinct ...) для подсчёта уникальных значений сфер деятельности
#группируем с group by и фильтруем с having, чтобы оставить компании с 4 видами деятельности
#сортируем с order by
#обрезаем две верхних строки с помощью offset и выводим одну строку с помощью limit
query_5_5 = f'''
            select
                e.name employer,
                count(distinct ei.industry_id) count_industries
            from public.employers e
            left join public.employers_industries ei on ei.employer_id=e.id
            group by 1
            having count(distinct ei.industry_id)=4
            order by 1
            offset 2
            limit 1
            '''

In [258]:
# результат запроса
df14 = pd.read_sql_query(query_5_5, connection)
#display(df14) #вывод всей таблицы
df14['employer'][0] #вывод только 3-го значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\2035397175.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df14 = pd.read_sql_query(query_5_5, connection)

'2ГИС'

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [259]:
# текст запроса
#делаем объединенние left join c таблицей industries
#используем count(distinct ...) для подсчёта уникальных работодателей
#группируем с group by и фильтруем с having, чтобы оставить работодателей с нужной сферой деятельности
#сортируем с order by
query_5_6 = f'''
            select
                i.name industry,
                count(distinct ei.employer_id) count_employers
            from public.employers_industries ei
            left join public.industries i on ei.industry_id=i.id
            group by 1
            having i.name='Разработка программного обеспечения'
            order by 1
            '''

In [260]:
# результат запроса
df15 = pd.read_sql_query(query_5_6, connection)
#display(df15) #вывод всей таблицы
df15['count_employers'][0] #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\1731802285.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df15 = pd.read_sql_query(query_5_6, connection)

3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [261]:
# код для получения списка городов-милионников
import requests
from bs4 import BeautifulSoup

url = 'https://ru.wikipedia.org/wiki/Города-миллионеры_России' # Определяем значение URL страницы для запроса
response = requests.get(url) # Выполняем GET-запрос, содержимое ответа присваивается переменной response
page = BeautifulSoup(response.text, 'html.parser') # Создаём объект BeautifulSoup, указывая html-парсер


#пишем фукнцию для поиска тегов (названия есть в тегах с аттрибутами href и title)
def search_tag(tag):
    return tag.has_attr('href') and tag.has_attr('title')


#вижу, что нужна первая таблица, которая имеет определённый класс, отличающий её от всех остальных. 
#выбираем её и ищем в ней тэги по условию
links = page.find('table', class_="standard sortable").find_all(search_tag)


list_of_cities = [] #пустой список для итогового результата по городам

#добавляем небольшой цикл, для очистки значений, которые не относятся к названиям городов (все названия городов идут с заглавной буквы, остальные значения не берём)

for tag in links:
    if tag.text[0].isupper():
        list_of_cities.append(tag.text)
        
        #print(f'{tag.name}: {tag.text}')

display(list_of_cities)

['Москва',
 'Санкт-Петербург',
 'Новосибирск',
 'Екатеринбург',
 'Казань',
 'Нижний Новгород',
 'Челябинск',
 'Красноярск',
 'Самара',
 'Уфа',
 'Ростов-на-Дону',
 'Омск',
 'Краснодар',
 'Воронеж',
 'Пермь',
 'Волгоград']

In [262]:
# текст запроса
#выводим вакансии количество вакансий Яндекс по всем регионам
#делаем объединение left join таблиц employers и areas
#фильтруем через where по названию компании
#группируем и сортируем
query_5_7 = f'''
            select
                a.name,
                count(v.id) cnt
            from public.vacancies v
            left join public.employers e on v.employer_id=e.id
            left join public.areas a on a.id=v.area_id
            where e.name='Яндекс'
            group by 1
            order by 2 asc
            '''

In [263]:
# результат запроса
#выполняем запрос sql
df16 = pd.read_sql_query(query_5_7, connection)

#переводим список городов df
df_cities = pd.DataFrame({'name': list_of_cities})

#делаем объединение таблиц, сортируем и добавим строку total вниз
merged_result = df_cities.merge(df16, how = 'left', on='name').sort_values(by='cnt', ascending=True, ignore_index=True)
total = pd.DataFrame({'name':['Total'],'cnt':[merged_result['cnt'].sum()]}) 
total_result = pd.concat([merged_result, total])

display(total_result)

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\174551639.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df16 = pd.read_sql_query(query_5_7, connection)

               name  cnt
0              Омск   21
1         Челябинск   22
2        Красноярск   23
3         Волгоград   24
4            Казань   25
5    Ростов-на-Дону   25
6             Пермь   25
7            Самара   26
8               Уфа   26
9         Краснодар   30
10          Воронеж   32
11      Новосибирск   35
12  Нижний Новгород   36
13     Екатеринбург   39
14  Санкт-Петербург   42
15           Москва   54
0             Total  485

***

In [264]:
# выводы по анализу работодателей

#Топ-5 работодателей по количеству вакансий:  
# 1. Яндекс (1933 вакансии или около 4% от общего количества) 
# 2. Ростелеком (491 вакансия)
# 3. Тинькофф (444 вакансии)
# 4. СБЕР (428 вакансий)
# 5. Газпром нефть (331 вакансия)

#Все указанные компании являются крупным бизнесом с присутствием в различных регионах. Это и объясняет высокое количество вакансий.

#Тем не менее есть регионы, в которых присутствуют работодатели (не обязательно из указанного выше топ-5), но при этом вакансий нет. 
#С учётом проведенного анализа по таблице area этими регионами являются:
# 1. Россия	(410 работодателей)
# 2. Казахстан (207	работодателей)
# 3. Московская область	(75	 работодателей)
# Такая ситуация обычно возможна, когда работодатель есть в базе, но на момент исследования не имеет потребности в сотрудниках и не оформил вакансию.
# Либо такое возможно, когда сам регион слишком общий (в данном случае - это целая страна ("Россия", "Казахстан")), а сам работодатель указывает более точный регион (например, крупный город  или область).

#Работодателями с наибольшим количество регионов, в которых размещены вакансии являются:
# 1. Яндекс	(181 регион)
# 2. Ростелеком	(152 региона)
# 3. Спецремонт	(116 регионов)
#В данном случае это связано с тем, что: 
# 1) компании достаточно крупные и имеют офисы и рабочие места в различных регионах своей работы
# 2) нужный компании персонал не удается найти в одном регионе

#Из 23501 работодателя 8419 (около 36%) не указывают свою сферу деятельности. Это может быть связано с различными причинами:
#1) Этот работодатель - hr-агенство и таким образом ищет сотрудников
#2) компания слишком мала
#3) информация не заполнена, либо заполняющий информацию о компании не смог определиться со сферой деятельности из перечня

#В базе есть компании с 4 указанными сферами деятельности. Среди таким встречаются: 101 Интернет, 21vek.by, 2ГИС, 2К и другие (всего 1132 компании или около 5%).
#Для крупных компаний, работающих в различных сферах, которые дополняют друг друга (например, ИТ, Интернет, маркетинг, реклама) - это нормальное явление.  

# У 3553 работодателя (или около 15% от общего количества) указана сфера деятельности "Разработка программного обеспечения"

# У компании "Яндекс" только в городах-миллиониках представлено 485 вакансий. При этом наибольшее количество - в Москве (54 вакансии), а наименьшее - В Омске (21 вакансия)

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [265]:
# текст запроса
#испозуем like для поиска совпадаений и lower для приведения обследуемых полей к нижнему регистру
query_6_1 = f'''
            select
                count(*)
            from public.vacancies v
            where 
                (
                (lower(v.name) like '%data%') or 
                (lower(v.name) like '%данн%')
                )
            '''

In [266]:
# результат запроса
df17 = pd.read_sql_query(query_6_1, connection)
#display(df17) #вывод всей таблицы
df17['count'][0] #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\3243751856.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df17 = pd.read_sql_query(query_6_1, connection)

1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [267]:
# текст запроса
#запрос для вывода всех вакансий для дата-сайентиста, исключив html
#все ключевые слова приводим к нижнему регистру, кроме '%ML%' - в противном случае в отбор попадёт TeamLeader
query_6_2a = f'''
            select *
            from public.vacancies v
            where 
                (
                (lower(v.name) like '%data scientist%') or 
                (lower(v.name) like '%data science%') or
                (lower(v.name) like '%исследователь данных%') or
                (lower(v.name) like '%machine learning%') or
                (lower(v.name) like '%машинн%обучен%') or
                (v.name like '%ML%' and lower(v.name) not like '%html%')
                )
            '''

#количество вакансий только для junior дата-сайентиста, исключив html. 
#для этого используем запрос выше и довляем дополнительные фильтры в where     
query_6_2b = f'''
            
            select 
                count(*)
            from public.vacancies v
            where 
                (
                (
                (lower(v.name) like '%data scientist%') or 
                (lower(v.name) like '%data science%') or
                (lower(v.name) like '%исследователь данных%') or
                (lower(v.name) like '%machine learning%') or
                (lower(v.name) like '%машинн%обучен%') or
                (v.name like '%ML%' and lower(v.name) not like '%html%')
                )
                and
                (
                (lower(v.name) like '%junior%') or
                (v.experience='Нет опыта') or
                (v.employment='Стажировка')
                )
                )
            '''

In [268]:
# результат запроса
df18 = pd.read_sql_query(query_6_2b, connection)
#display(df18) #вывод всей таблицы
df18['count'][0] #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\1024529680.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df18 = pd.read_sql_query(query_6_2b, connection)

51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [269]:
# текст запроса
#используем запрос из предыдущих полей и добавляем дополнительные фильтры в where
query_6_3 = f'''
            select 
                count(*)
            from public.vacancies v
            where 
                (
                (
                (lower(v.name) like '%data scientist%') or 
                (lower(v.name) like '%data science%') or
                (lower(v.name) like '%исследователь данных%') or
                (lower(v.name) like '%machine learning%') or
                (lower(v.name) like '%машинн%обучен%') or
                (v.name like '%ML%' and lower(v.name) not like '%html%')
                )
                and
                (
                (upper(v.key_skills) like '%SQL%') or
                (lower(v.key_skills) like '%postgres%')
                )
                )
            '''

In [270]:
# результат запроса
df19 = pd.read_sql_query(query_6_3, connection)
#display(df19) #вывод всей таблицы
df19['count'][0] #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\2112541539.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df19 = pd.read_sql_query(query_6_3, connection)

201

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [271]:
# текст запроса
#используем запрос из предыдущих полей и добавляем дополнительные фильтры в where
query_6_4 = f'''
            select 
                count(*)
            from public.vacancies v
            where 
                (
                (
                (lower(v.name) like '%data scientist%') or 
                (lower(v.name) like '%data science%') or
                (lower(v.name) like '%исследователь данных%') or
                (lower(v.name) like '%machine learning%') or
                (lower(v.name) like '%машинн%обучен%') or
                (v.name like '%ML%' and lower(v.name) not like '%html%')
                )
                and
                v.key_skills like '%Python%'
                )
            '''

In [272]:
# результат запроса
df20 = pd.read_sql_query(query_6_4, connection)
#display(df20) #вывод всей таблицы
df20['count'][0] #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\553341566.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df20 = pd.read_sql_query(query_6_4, connection)

351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [273]:
# текст запроса
# в столбце key_skills есть комбинация разделитель между навыками ('\t'). 
# чтобы найти количество навыков по конкретной вакансии нужно
# из первоначальной длины строки вычесть длину строки, в которой убраны все встречающиеся разделители ('\t') (будет получено количество символов разделителей в строке)
# далее полученную разницу нужно разделить на длину символов разделителя ('\t' - 2 символа)
# к полученному частному нужно прибавить 1, т.к. разделителей всегда на 1 больше, чем навыков
query_6_5 = f'''
            select
                round(avg( (length(v.key_skills) - length(replace(v.key_skills, '\t', ''))) / length('\t') + 1), 2) average
            from public.vacancies v
            where 
                (
                (lower(v.name) like '%data scientist%') or 
                (lower(v.name) like '%data science%') or
                (lower(v.name) like '%исследователь данных%') or
                (lower(v.name) like '%machine learning%') or
                (lower(v.name) like '%машинн%обучен%') or
                (v.name like '%ML%' and lower(v.name) not like '%html%')
                )
            '''

In [274]:
# результат запроса
df21 = pd.read_sql_query(query_6_5, connection)
#display(df21) #вывод всей таблицы
df21['average'][0] #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\330857952.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df21 = pd.read_sql_query(query_6_5, connection)

6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [275]:
# текст запроса
# при расчёте в средней заработной платы в числитель ставим сумму полей заработной платы (каждый с оператором coalesce), 
# а в знаменатель сумму частных для каждого поля заработной платы (это позволяет определить на какое числоделим сумму в числителе - на 1 или на 2)
query_6_6 = f'''
            select
                v.experience,
                round(avg(
                (coalesce(v.salary_from, 0) + coalesce(v.salary_to, 0))
                / 
                (coalesce(v.salary_from, 0) / coalesce(v.salary_from, 1) + coalesce(v.salary_to, 0) / coalesce(v.salary_to, 1))
                )
                ) average_salary
            from public.vacancies v
            where 
                (
                (
                (lower(v.name) like '%data scientist%') or 
                (lower(v.name) like '%data science%') or
                (lower(v.name) like '%исследователь данных%') or
                (lower(v.name) like '%machine learning%') or
                (lower(v.name) like '%машинн%обучен%') or
                (v.name like '%ML%' and lower(v.name) not like '%html%')
                )
                and
                (
                v.salary_from is not null or
                v.salary_to is not null
                )
                )
            group by 1
            
            '''

In [276]:
# результат запроса
df22 = pd.read_sql_query(query_6_6, connection)
display(df22) #вывод всей таблицы
#df22['average_salary'].max() #вывод только значения из массива

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\1165243022.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df22 = pd.read_sql_query(query_6_6, connection)

           experience  average_salary
0           Нет опыта         74643.0
1  От 1 года до 3 лет        139675.0
2       От 3 до 6 лет        243115.0

***

In [277]:
# выводы по предметному анализу

#Из общего количества вакансий только 1771 (или 3,6% от 49197) имеют отношение к данным.
#Для начинающего Data-scientиста есть ещё меньше: только 51 вакансия
#Для 201 вакансии (или около 11% от вакансий, имеющих отношение к данным) ключевыми являются навыки "SQL" или "postgres".
#Для 351 вакансии (или около 20% от вакансий, имеющих отношение к данным) ключевым является навык "Python".
#Для вакансий DS в среднем указывают больше 6 ключевых навыков
#В зависимости от опыта претендент на вакансии DS может рассчитывать на следущую среднюю заработную плату: 
# без опыта - около 75 т.р., 
# от 1 до 3 лет - около 140 т.р.,
# от 3 до 6 лет - около 243 т.р.

# Общий вывод по проекту

In [278]:
# подведем итог исследования, обобщите выводы

#Итоги исследования:

# 1. Исходный массив данных достаточно большой (в базе исходных данных находятся 49197 вакансий от 23501 работодателя из 1362 регионов по 294 сферам деятельности)

# 2. Детальный анализ показал, что в целом данные соответствуют действительности и могут быть использованы для последующей обработки:
    # * Наибольшая для вакансий  -  в крупных городах, столицах и миллиониках
    # * Часть данных по заработной плате отсутствует, но оставшейся информации достаточно для дальнейшего исследования
    # * Работодатели в основном ищут сотрудников на полную занятость и нечасто готовы предлагать удалённую работу или гибкий график
    # * Работодатели стараются искать сотрудников с опытом
    
# 3. Аналих работодателй показал, что
    # * Наибольшие доли вакансий формируют крупные компании, которые представлены в различных регионах (Яндекс, Ростелеком, Тинькофф, СБЕР, Газпром нефть)
    # * Крупные компании, размещают вакансии в нескольких регионах
    # * Не на во всех регионах, указанных в базе, есть вакансии (хотя работодатели в этих регионах присутствуют)
    # * Часть работодателей не указаывает свою сферу деятельности по различным причинам
    # * Работодатели могут иметь несколько сфер деятельности (например, доля работодателей в 4 сферами деятельности - около 5% от общего числа)
    # * У 3553 работодателя (или около 15% от общего количества) указана сфера деятельности "Разработка программного обеспечения"
    
# 4. Предметный анализа вакансий DS показал:
#  * Доля вакансий, имеющих отношение к данным в общем объеме вакансий - мала (менее 4 % от общего числа вакансий), а для начинающих DS-специалистов - ещё меньше (менее 3% от числа вакансий, связанных с данными)
#  * Навык "Python" в качестве ключевого нужен в большем количестве вакансий, чем навык "SQL" или "postgres" (351 вакансия против 201)
#  * Для вакансий DS в среднем указывают больше 6 ключевых навыков
#  * В зависимости от опыта работы средняя заработная плата претендента на вакансии DS увеличивается в разы (без опыта - около 75 т.р., от 1 до 3 лет - около 140 т.р., от 3 до 6 лет - около 243 т.р.)

In [399]:
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования

# в качестве дополнительного исследования попробуем выяснить: 
# какие ключевые навыки указывают в вакансиях, свазанных с DS (например, топ - 10 навыков) и как часто они встречаются в требованиях к вакансии?
# для этого используем конструкцию unnest(string_to_array ...), чтобы построчно вывести значения из исходной строки по указанному разделителю '\t' (итог выведем в столбец parts)
# затем с помощью count и группировки посчитаем количество уникальных встречающихся навыков, 
# в столбец result выведем долю навыков в числе вакансий DS в процентах (480 - число вакансий DS, полученное в query 6_2a)
# c помощью limit выведем топ-10 
query_6_7 = f'''
            
            select
                unnest(string_to_array(key_skills,'\t')) as parts,
                count(*) count_parts,
                round(((count(*)::numeric) * 100 / 480), 2) result
            from public.vacancies v
            where 
                (
                (lower(v.name) like '%data scientist%') or 
                (lower(v.name) like '%data science%') or
                (lower(v.name) like '%исследователь данных%') or
                (lower(v.name) like '%machine learning%') or
                (lower(v.name) like '%машинн%обучен%') or
                (v.name like '%ML%' and lower(v.name) not like '%html%')
                )
            group by 1
            order by 2 desc
            limit 10
            
            '''

In [402]:
# результат запроса
df23 = pd.read_sql_query(query_6_7, connection)
#display(df23) #вывод всей таблицы

import plotly.express as px

#рисуем гистограмму для наглядности
fig_hist = px.histogram(
    data_frame=df23,
    x='parts',
    y='result'
)

fig_hist.update_layout(title_text='Распределение топ-10 ключевых навыков по вакансиям DS', title_x=0.5) # добавляем подписи 
fig_hist.update_xaxes(title_text='Навык', col=1, row=1) 
fig_hist.update_yaxes(title_text='% от количества вакансий', col=1, row=1)


fig_hist.update_xaxes(showline=True, linewidth=2, linecolor='black', mirror=True) #добавляем рамки
fig_hist.update_yaxes(showline=True, linewidth=2, linecolor='black', mirror=True)

fig_hist.show()

C:\Users\пользователь\AppData\Local\Temp\ipykernel_5940\2894596318.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

## Вывод по дополнительному исследованию
Кроме ключевых навыков Python и SQL (встречаются в требованиях к навыкам 72,5% и 39,79% вакансий DS соответственно) среди указываемых популярных ключевых навыков есть: 
* Machine Learning (в 23,75% вакансий DS), 
* Git (в 13,75% вакансий DS), 
* Математическая статистика (в 12,92% вакансий DS),
* Data Analysis (в 11,25% вакансий DS)
* Pandas (в 10,83% вакансий DS)