In [1]:
import pandas as pd

print(pd.__name__)

pandas

In [2]:

countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries) # первый способ задания серии

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [3]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries) #второй способ задания серии

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [4]:
#print(countries.loc['US']) # вывод одного элемента - выведет строку
#print(countries.loc[['US', 'RU', 'UK']]) # вывод ряда элементов

print(countries.iloc[6]) # вывод элемента по индексу
print(countries.iloc[1:4]) #вывод среза по индексу

#Комментарий: На самом деле loc и iloc можно опустить и обращаться к элементам Series напрямую по индексам, например countries[[‘UK’, 'US', ‘UA’]] или countries[[0, 2, 4]].

Казахстан
CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
Напишите функцию create_medications(names, counts), создающую Series medications, индексами которого являются названия лекарств names, а значениями — их количество в партии counts.

Также напишите функцию get_percent(medications, name), которая возвращает долю товара с именем name от общего количества товаров в партии в процентах.

In [5]:
import pandas as pd

def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    list_of_medications = pd.Series(data = counts,index = names, name = "medications")
    return list_of_medications

   

def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    share = medications.loc[name]/sum(medications.loc[:]) * 100
    return share
    


if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [6]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
}) # создание DataFrame из словаря без индексов
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] #добавили индексы
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [7]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df) # создание DataFrame из списка

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [8]:
countries_df.mean(axis=0) #среднее по строкам в DataFrame

C:\Users\user\AppData\Local\Temp\ipykernel_2604\607908867.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  countries_df.mean(axis=0) #среднее по строкам в DataFrame

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [9]:
countries_df.mean(axis=1) #среднее по столбцам в DataFrame

C:\Users\user\AppData\Local\Temp\ipykernel_2604\2493614648.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=1) #среднее по столбцам в DataFrame

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [10]:
countries_df.population #доступ к столбцу (возможно когда имя указан без пробелов)
countries_df['population'] #доступ к столбцу по индексу

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [11]:
#countries_df.loc['UK', 'square'] #доступы к значеню
#countries_df.loc['RU', ['population', 'square']]
#countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']] #срезы
countries_df.iloc[4:8, 1:3]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы (incomes), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков. 

Например:

incomes = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
Создайте функцию create_companyDF(incomes, expenses, years), которая  возвращает DataFrame, составленный из входных данных со столбцами Incomes и Expenses и индексами, соответствующими годам рассматриваемого периода. Пример такого DataFrame представлен ниже.

Incomes	Expenses
2018	478	156
2019	512	130
2020	196	270
Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year. Учтите, что если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

Подсказка
Для проверки вхождения запрашиваемого года в перечень индексов таблицы вам поможет атрибут df.index, который возвращает список индексов таблицы.

In [12]:
import pandas as pd

def create_companyDF(incomes, expenses, years):
    
    df = pd.DataFrame({"incomes":incomes,"expenses":expenses},index = years)
    return df


def get_profit(df, year):
    
    if year in df.index:    
        profit = df.loc[year,"incomes"] - df.loc[year,"expenses"]
    
    else: profit = None
    
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    incomes = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(incomes, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74

-74

## Основные параметры метода DataFrame to_csv()

path_or_buf — путь до файла, в который будет записан DataFrame (например, data/my_data.csv); \
sep — разделитель данных в выходном файле (по умолчанию ','); \
decimal — разделитель чисел на целую и дробную части в выходном файле (по умолчанию '.'); \
columns — список столбцов, которые нужно записать в файл (по умолчанию записываются все столбцы); \
index — параметр, определяющий, требуется ли создавать дополнительный столбец с индексами строк в файле (по умолчанию True).

In [13]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

## Основные параметры функции read_csv()

filepath_or_buffer — путь до файла, который мы читаем; \
sep — разделитель данных (по умолчанию ','); \
decimal — разделитель чисел на целую и дробную часть в выходном файле (по умолчанию '.'); \
names — список с названиями столбцов для чтения; \
skiprows — количество строк в файле, которые нужно пропустить (например, файл может содержать служебную информацию, которая нам не нужна). \

In [14]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [15]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv') #вывод данных по ссылке
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

## ЗАПИСЬ И ЧТЕНИЕ В ДРУГИХ ФОРМАТАХ

# Методы для записи таблиц в файлы отличных от csv форматов:

to_excel() — запись DataFrame в формат Excel-таблицы (.xlsx); \
to_json() — запись DataFrame в формат JSON (.json); \
to_xml() — запись DataFrame в формат XML-документа (.xml); \
to_sql() — запись DataFrame в базу данных SQL (для реализации этого метода необходимо установить соединение с базой данных). \

# Методы для чтения таблиц из файлов в отличных от csv форматах:

read_excel() — чтение из формата Excel-таблицы (.xlsx) в DataFrame; \
read_json() — чтение из формата JSON (.json) в DataFrame; \
read_xml() — чтение из формата XML-документа (.xml) в DataFrame; \
read_sql() — чтение из базы данных SQL в DataFrame (также необходимо установить соединение с базой данных).

## melb_data  - База данных о продаже недвижимости в Австралии

index — номер строки \
Suburb — наименование пригорода \
Address — адрес \
Rooms — количество комнат в помещении \
Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус) \
Price — цена помещения \
Method — метод продажи \
SellerG — риэлторская компания \
Date — дата продажи (в формате день/месяц/год) \
Distance — расстояния до объекта от центра Мельбурна \
Postcode — почтовый индекс \
Bedroom — количество спален \
Bathroom — количество ванных комнат \
Car — количество парковочных мест \
Landsize — площадь прилегающей территории \
BuildingArea — площадь здания \
YearBuilt — год постройки \
CouncilArea — региональное управление \
Lattitude — географическая широта \
Longitude — географическая долгота \
Regionname — наименование района Мельбурна \
Propertycount — количество объектов недвижимости в районе \
Coordinates — широта и долгота, объединённые в кортеж

In [16]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
#display(melb_data.loc[15, 'Price'])
#display(melb_data.loc[90, 'Date'])
#display(round(melb_data.loc[3521, 'Landsize']/melb_data.loc[1690, 'Landsize']))

#display(melb_data.head()) #возвращают n первых строк таблицы соответственно (по умолчанию n = 5).
#display(melb_data.tail()) #возвращают n последних строк таблицы соответственно (по умолчанию n = 5).

In [17]:
# ОПЕРАЦИИ С DATAFRAME

#display(melb_data.head()) #возвращают n первых строк таблицы соответственно (по умолчанию n = 5).
#display(melb_data.tail()) #возвращают n последних строк таблицы соответственно (по умолчанию n = 5).

#melb_data.shape #форма таблицы (кортеж из количества строк и столбцов)

#melb_data.info() # общая  информация о таблице

melb_data['Car'] = melb_data['Car'].astype('int64') #изменение типов данных в столбцах
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')


#melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']] # статистические свойства её столбцов. Для этого можно воспользоваться методом DataFrame describe().

#По умолчанию метод работает с числовыми (int64 и float64) столбцами и показывает 
# число непустых значений (count), 
# среднее (mean), 
# стандартное отклонение (std), 
# минимальное значение (min),  
# квантили уровней 0.25, 0.5 (медиана) и 0.75 (25%, 50%, 75%) 
# и максимальное значение (max) для каждого столбца исходной таблицы.


#melb_data.describe(include=['object']) #статистические свойства для нечисловых столбцов

#Например, для типа данных object метод describe() возвращает DataFrame, в котором указаны:

#количество непустых строк (count);
#количество уникальных значений (unique);
#самое частое значение — мода —  (top);
#частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.

#melb_data['Regionname'].value_counts() #частота для каждого уникального знания

#Данный метод возвращает объект Series, 
# котором в качестве индексов выступают уникальные категории столбца, а значениями — соответствующая им частота.

melb_data['Regionname'].value_counts(normalize=True)

#Чтобы сделать вывод более интерпретируемым и понятным, можно воспользоваться параметром normalize. 
# При установке значения этого параметра на True результат будет представляться в виде доли (относительной частоты):

Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: Regionname, dtype: float64

In [18]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
print(data.shape)

(3, 2)

In [55]:
#melb_data.dtypes - вывод типов данных столбцов

#melb_data.describe(include=['object']).loc[:, ['Coordinates']] # - вывод типа данных нечислового конкретного столбца

#melb_data['CouncilArea'].isna().sum() #количество пропущенных значений в столбце

#a_list = list(map(str, list(melb_data.dtypes)))
#a_list.count('int64') #количество столбцов после преобразования, имеющих тип данных целые числа

#melb_data['Lattitude', 'Longtitude'].value_counts()

a_list = dict(melb_data['Type'].value_counts(normalize=True))
display(round(a_list['t'] * 100))

8

## Агрегирующие методы

Агрегирующим в Pandas называется метод, который для каждого столбца возвращает только одно значение — показатель (например, вычисление медианы, максимума, среднего и так далее).

МЕТОД	СТАТИСТИЧЕСКИЙ ПАРАМЕТР \
.count()	Количество непустых значений \
.mean()	Среднее значение \
.min()	Минимальное значение \
.max()	Максимальное значение \
.deviance()	Дисперсия \
.std()	Стандартное отклонение \
.sum()	Сумма \
.quantile(x)	Квантиль уровня x \
.nunique()	Число уникальных значений \
.mode() Мода

Если один из этих методов применить ко всему DataFrame, то в результате его работы будет получен объект типа Series, в котором в качестве индексов будут выступать наименования столбцов, а в качестве значений — статистический показатель. В случае применения метода к отдельному столбцу результатом вычислений станет число.

В каждый метод можно передать некоторые параметры, среди которых:

axis  — определяет, подсчитывать параметр по строкам или по столбцам;
numeric_only — определяет, вычислять параметры только по числовым столбцам/строкам или нет (True/False).

In [20]:
#landsize_median = melb_data['Landsize'].median() 
#landsize_mean =  melb_data['Landsize'].mean()
#print(abs(landsize_median - landsize_mean)/landsize_mean)

#melb_data['Propertycount'].max()
#round(melb_data['Distance'].std())

#round((melb_data['BuildingArea'].median() - melb_data['BuildingArea'].mean())
     # /melb_data['BuildingArea'].mean() * 100)

#a = pd.DataFrame([1, 2, 4, 2, 3, 2, 1, 5, 6])
#a.mode()

#melb_data['Bedroom'].mode()

## Фильтрация и маски
Под фильтрацией в DataFrame подразумевается получение новой таблицы путём вырезания строк, не удовлетворяющих поставленному условию. 

Маской называется Series, которая состоит из булевых значений, при этом значения True соответствуют тем индексам, для которых заданное условие выполняется, в противном случае ставится значение False (например, цена > 2 млн).

# Условия можно комбинировать, используя операторы & (логическое И) и | (логическое ИЛИ). Условия при этом заключаются в скобки.

Под очисткой данных понимается удаление из данных аномальных значений (выбросов), пропусков и данных, которые не несут информацию.

In [21]:
mask = melb_data['Price'] > 2000000
#display(mask)
#melb_data[melb_data['Rooms'] == 3].shape[0]
#melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]
#melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

#melb_data[melb_data['Type'] == 't']['Rooms'].max()
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

126.0

# Примечание. Обратите внимание, что использование привычных операторов and и or будет неверным и приведёт к ошибке, так как они выполняют логические операции между двумя булевыми числами. В нашем случае слева и справа от оператора стоят маски (объекты Series), для которых логическую операцию надо совершить поэлементно, а операторы and и or для такого не предназначены.

In [45]:
melb_data[melb_data['Bathroom'] == 0].shape[0]
#melb_data[(melb_data['SellerG'] == "Nelson") & (melb_data['Price'] > 3000000)].shape[0]
#melb_data[(melb_data['BuildingArea'] == 0)]['Price'].min()
#melb_data[(melb_data['Price'] < 1000000)
          #& ((melb_data['Rooms'] > 5) 
          #| (melb_data['YearBuilt'] > 2015 ))]['Price'].mean()
#melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

34

In [23]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')
#display(melb_data.loc[15, 'Price'])
#display(melb_data.loc[90, 'Date'])
#display(round(melb_data.loc[3521, 'Landsize']/melb_data.loc[1690, 'Landsize']))

display(student_data.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Поля таблицы Student Performance
gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [63]:
#student_data.info()
#student_data.iloc[155]['writing score']
#student_data.isna().sum()
#a_list = list(map(str, list(student_data.dtypes)))
#a_list.count('object') #количество столбцов после преобразования, имеющих тип данных целые числа
#student_data['math score'].mean()
#student_data['race/ethnicity'].mode()
#student_data[student_data['test preparation course'] == "completed"]['reading score'].mean()
#student_data[student_data['math score'] == 0].shape[0]
#student_data[student_data['lunch'] == "standard"]['math score'].mean()
#student_data[student_data['lunch'] == "free/reduced"]['math score'].mean()
#student_data['parental level of education'].value_counts(normalize=True)
a = student_data[student_data['race/ethnicity'] == "group A"]['writing score'].median() - student_data[student_data['race/ethnicity'] == "group C"]['writing score'].mean()
display(a)

-5.827586206896555